body {
    background-color: #ffffff;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 50px;
    color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

header {
    background-color: #5685fd;
    line-height: 2;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    align-content: center;
    justify-content: center;
    border: 1px solid #5685fd;
    text-align: center;
    width: 15%;
    padding: 5px; 
    margin: 10px 15px 10px;
}

img {
    height: 100px;
}